@{
    ViewData["Title"] = "Change Password";
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-xl-5">
        <div class="col-md-4">
            <div class="rounded p-4 shadow-sm mb-4 bg-primary-color text-lightblue">
                <h2 class="text-center mb-4">Change Password</h2>
                <div class="mb-3">
                    <label for="oldPass" class="form-label">Old Password</label>
                    <input type="password" class="form-control bg-secondary-color text-lightblue" id="oldPass" placeholder="Enter old password" required />
                </div>
                <div class="mb-3">
                    <label for="newPass" class="form-label">New Password</label>
                    <input type="password" class="form-control bg-secondary-color text-lightblue" id="newPass" placeholder="Enter new password" required />
                </div>
                <div class="mb-3">
                    <label for="cNewPass" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control bg-secondary-color text-lightblue" id="cNewPass" placeholder="Confirm new password" required />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-block" id="changePassBtn">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
